.infra-title{
    text-transform: capitalize;
    /* background: #9d9d9d; */
    background: black;
    height: 100px;
    padding-top: 30px;
  }
  .infra-title-head{
    text-align: center;
    color: white;
  }