.cmodalHeadSec {
  background: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cmodalHead {
  color: #ffffff;
  text-align: center;
}








/* landing page */




.cmedfmIcon {
  padding-top: 30px;
}

.tp-ab-circle-img .ab-circle-one {
  

  top: 78px;
  left: 32%;

}

.tp-ab-circle-img {
  margin-left: -50px;
}

.ab-circle-shape img {
  max-width: 100%;
  height: auto;
}



.tp-ab-circle-img .ab-circle-two {
  position: absolute;
  right: 21px;
  bottom: 155px;
  z-index: -1;

}

.tp-sub-title-box {
  padding: 12px 20px;
  font-size: 16px;
  background: rgba(255, 102, 82, .1);

  border-radius: 5px;
  display: inline-block;

  line-height: 1;
}

.section-title {

  position: relative;
  text-align: center;

  margin-right: 20px;
  z-index: 1;
}


.tp-section-title {
  font-family: 'YourFontFamily', sans-serif;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  display: inline-block;

}

.tp-section-title::before {
  content: '';
  display: block;
  width: 94px;
  height: 67px;
  background: url("../../assests/ImageCurriclm/approach4.png");
  background-repeat: no-repeat;
  background-color: white;
  margin: 10px auto;
  z-index: -1;
  position: absolute;
  top: -9px;
  left: -45px;
}



.section-title p {
  margin-bottom: 0;
  line-height: 28px;
  text-align: justify;
}



.about-circle-list ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: auto;
}


.about-circle-list ul li {
  width: 50%;
  flex: 0 0 50%;
  font-size: 20px;
  font-family: Gordita-500;
  font-weight: 500;
  color: var(--tp-heading-primary);
  line-height: 1.7;
  position: relative;
  /* padding-left: 50px; */
  margin-bottom: 25px;
  text-align: center;
}




.curriculum-circle-img img {
  width: 85%;
  margin-left: 50px;
}


/* //educational framework icone */
svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
  color: white;
  width: 20px;
  height: 20px;

}

.icon-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 100%;
  background-color: rgb(16, 100, 100);
  margin-top: 10px;
  margin-left: 40%;
}


.about-circle-list span {
  display: block;
  margin-top: 27px;
  margin-right: 40px;

}




/* .landing-page-section {
  background: url(../../assests/ImageCurriclm/svgimg2.png);
  background-size: cover;
  margin-bottom: 0px;
} */

.testimonial_v1 {
  position: relative;
}

.currimodl {
  overflow: hidden;
  padding-bottom: 165px;
  margin-bottom: -120px;
 

}

.shape_v5 .shape_12 {
  position: absolute;
  left: 0;
  top: 10px;
  z-index: -1;
}


.shape_v5 .shape_13 {
  position: absolute;
  left: 40px;
  bottom: 80px;
}






.section_title h3 {
  margin-bottom: 14px;
  position: relative;
}


.section_title h2:after {
  position: absolute;
  content: "";
  top: -20px;
  background: url("../../assests/ImageCurriclm/approach4.png");
  display: inline-block;
  background-color: white;
  width: 96px;
  height: 67px;
  z-index: -1;
}

.currimodl .section_title h2:after {
  left: 70px;
  width: 70%;
}

.currimodl .testimonial_slide .single_testimonial .client_info p {
  padding-top: 20px;
  text-align: justify;
  display: block;
}

.currimodl .row1 {
  max-width: 720px;
  display: flex;
  justify-content: space-between;
  margin: auto auto 120px;
}

.currimodl .row1 .single_img {
  border-radius: 50%;
 
  box-shadow: 2.5px 4.33px 15px #0000004d;
}

.single_img {
  cursor: pointer;
}



.img-fluid {
  max-width: 100%;
  height: auto;
  border: 4px double #fff;
  border-color: orangered;
  border-radius: 50%;
  transition: .5s;

}


.currimodl .row1 .single_img:nth-child(2) {
  margin-top: -25px;
}

.currimodl .row1 .sm_img {
  border-radius: 50%;

  width: 150px;
  height: 150px;
}



/* rowmid */




.currimodl .rowmid .sm_img {
  border-radius: 50%;

  width: 150px;
  height: 150px;
}

.currimodl .rowmid {
 
  display: flex;
  justify-content: space-between;
  margin: auto 0px 117px; 
}

.currimodl .rowmid .single_img {
  border-radius: 50%;
  /* opacity: .7; */
  box-shadow: 2.5px 4.33px 15px #0000004d;
}

.rowmidimg{
  z-index: 1;
}



/* row 2 image  */

.currimodl .row2 {
  display: flex;
  justify-content: space-between;
}


.currimodl .row2 .single_img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  z-index: 1;
  /* opacity: .7; */
  box-shadow: 2.5px 4.33px 15px #0000004d;
}

.currimodl .row2 .sm_img {
  border-radius: 50%;
  width: 88px;
  height: 88px;
  margin: auto;
 
}

.currimodl .row2 .single_img img {
  border-radius: 50%;
 
}






.currimodl .testimonial_slide {
  max-width: 730px;
  text-align: center;
  margin: -200px auto auto;

}



.currimodl .testimonial_slide .single_testimonial .client_img:after {
  content: "";
  width: 210px;
  height: 210px;
  position: absolute;
  top: -20px;
  right: -8px;
  border-radius: 50%;
  background-color: #ffbc26;
  z-index: -1;
}



.currimodl .testimonial_slide .single_testimonial {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.currimodl .testimonial_slide .single_testimonial .client_img {
  max-width: 200px;
  max-height: 200px;
  position: relative;
  margin: auto auto 30px;
  border-radius: 50%;
  box-shadow: 2.5px 4.33px 15px #00000026;
  z-index: 1;
}




.currimodl .testimonial_slide .single_testimonial .client_img .qoute {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;

  font-size: 18px;

  background-color: #ffbc26;
}

.currimodl .testimonial_slide .single_testimonial .client_img .qoute svg {
  color: #ffffff;
}

.currimodl .testimonial_slide {

  text-align: center;
  margin: -447px auto auto;
}

.currimodl .testimonial_slide .single_testimonial .client_info h3 {
  font-weight: 700;
  font-size: 30px;
}

.currimodl .testimonial_slide .single_testimonial .client_info h5 {
  font-size: 18px;
  color: #ffbb23;
  font-weight: 400;
  font-size: 20px;
}

.currimodl .testimonial_slide .single_testimonial .client_info p {
  padding-top: 20px;
}





.text-below-image {
  color: black;
    font-weight: 900;
    font-size: 13px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 7px;
    line-height: 15px;

}